{% extends 'base.html' %}
{% block sidebar %}

{% for m in side_bar_main %}
<p><a href="{{m.url}}">{{m.name}}</a></p>
{% endfor %}
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/survey.js') }}"></script>
<form method="POST" id="test">
    <input type="text" name="title_survey" placeholder="Введи заголовок опроса">
    <div id="div">
<input type="button" value="Добавить вопрос" onclick="add()">
<input type="button" value="Удалить вопрос" onclick="del()">
        <input type="submit">

        </div>
</form>




{% endblock %}