<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%- if news.seo_description  !=""  -%}
    <meta name="description" content="{{news.seo_description}}"/>
    {% else -%}
    <meta name="description" content=""/>
    {% endif %}

    {%- if news.seo_title  !=""  -%}
    <title>{{news.seo_title}}</title>
    {% else -%}
    <title>Новости</title>
    {% endif %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
</head>
<body>


<div class="image" align="center">
<img src="/static/img/uploads/{{news.img}}" width="33%" height="33%">
<h2>{{news.title}}</h2>
</div>
<h3>{{news.subtitle}}</h3>
<h3>{{news.content}}</h3>
{% for x in lst_tag_data %}
<div align="right"><button>#{{x}}</button></div>
{% endfor %}
</body>
</html>