{% extends 'base.html' %}


{% block footer %}

{% for m in footer %}
<a href="{{m.url}}">{{m.name}}</a>
{% endfor %}

{% endblock %}

{% block sidebar %}


{% for m in side_bar %}
<p><a href="{{m.url}}">{{m.name}}</a></p>
{% endfor %}

{% endblock %}
{% block content %}
<script src="{{ url_for('static', filename='js/news.js') }}"></script>
<button onclick="window.location.href = '{{ url_for('.create_news') }}';">Добавить</button>
<div>

<form method="POST">

    <label for="filter">
            Заголовок новости:
<input type="text" placeholder="Заголовок" id="filter" name="filter">
        </label>
    <input type="submit" value="Фильтр" name="submit">
</form>
    </div>
<h4>Список новостей</h4>
<div align="left"> Заголовок Дата создания Автор</div>
<hr>

{% for x in q.items %}
<table>
    <tr>
    <td><a href="{{ url_for('.main_news',news_id=x.id) }}">{{x.title}}</a></td>
   <td>{{x.time}} </td>
    <td>{{x.login}}</td></a>
        {%if x.is_deleted == 0 %}
    <td>
    <button onclick="document.location='{{ url_for('.update_news',news_id=x.id)}}'">Редактировать</button>
    </td>
    <form method="POST">
        <input type="hidden" id="input_form" value="" name="{{x.id}}" ><br />
    <td><input type="submit" value="Удалить" name="submit" onclick="getId(this.id)"></td>
    </form>
        {% else %}
    <form method="POST">
        <input type="hidden" id="restore" value="" name="{{x.id}}" ><br />
    <td><input type="submit" value="Восстановить" name="submit" onclick="getId(this.id)"></td>
    </form>
{%endif%}
</tr>
</table>
{% endfor %}
<p>
{% if q.has_prev %}<a href="{{ url_for('.news', page=q.prev_num) }}">&lt;&lt; Newer posts</a>{% else %}&lt;&lt; Newer posts{% endif %} |
{% if q.has_next %}<a href="{{ url_for('.news', page=q.next_num) }}">Next &gt;&gt;</a>{% else %}Older posts &gt;&gt;{% endif %}
</p>
{% endblock %}