{% extends 'base.html' %}
{% block sidebar %}

{% for m in side_bar_main %}
<p><a href="{{m.url}}">{{m.name}}</a></p>
{% endfor %}
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/create_news.js') }}"></script>
<form method="POST" name="create_news">
    <label for="check_box"><input type="checkbox" onclick="check()"  id="check_box">Включить SEO теги</label>
<div id="div">
<p><input type="text" name="seo_title" id="seo_title" hidden placeholder="SEO Title"><br></p>
<p><input type="text" name="seo_description" id="seo_description" hidden placeholder="SEO Description"></p>
</div>
<p>Заголовок <input type="text" name="title"></p>
<p>Подзаголовок <input type="text" name="subtitle"></p>
<p>Содержимое <textarea name="content"></textarea></p>
    <input type="submit" value="Сохранить">
</form>




{% endblock %}