{% extends 'base.html' %}
{% block sidebar %}

{% for m in side_bar_main %}
<p><a href="{{m.url}}">{{m.name}}</a></p>
{% endfor %}
{% endblock %}

{% block content %}

<form method="POST" name="create_news">

<p>SEO Title <input type="text" name="seo_title"></p>
<p>SEO Description<input type="text" name="seo_description"></p>
<p>Заголовок <input type="text" name="title"></p>
<p>Подзаголовок <input type="text" name="subtitle"></p>
<p>Содержимое <textarea name="content"></textarea></p>
    <input type="submit" value="Сохранить">
</form>




{% endblock %}