{% extends 'base.html' %}

{% block sidebar %}
{% for m in side_bar %}
<p><a href="{{m.url}}">{{m.name}}</a></p>
{% endfor %}
{% endblock %}

{% block content %}
{% for cat,msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{%endfor%}

<h4>Редактирование пользователя</h4>

<form method="POST">



    <p>
        <input type="text" value="{{q.login}}" name="login">

    </p>
        <input type="text" value="{{q.email}}" name="email">

     <p>

    </p>

    <input type="submit">


</form>


{% endblock %}