{% extends 'base.html' %}

{% block sidebar %}
{% for m in side_bar_main %}
<p><a href="{{m.url}}">{{m.name}}</a></p>
{% endfor %}
{% endblock %}

{% block content %}
{% for cat,msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{%endfor%}
        <button onclick="window.location.href = '{{ url_for('create_news') }}';">Добавить</button>

        <form method="POST">
            <input type="submit" name="btn" value="Удалить">
            <input type="text" value="{{q.id}}" name="delete" hidden>
        </form>


<h4>Редактирование новости</h4>

<form method="POST" enctype=multipart/form-data>

    <p>Адрес новости:
        <td><a href="{{ url_for('main_news',news_id=q.id) }}">Перейти</a></td>

    </p>

    <p><label> SEO Title
        <input type="text" value="{{q.seo_title}}" name="seo_title">
    </label>

    </p>
    <p>
    <label>SEO Description
        <input type="text" value="{{q.seo_description}}" name="seo_description">
        </label>
     </p>

        <p><label> Заголовок
        <input type="text" value="{{q.title}}" name="title" required>
    </label>

    </p>

            <p><label> Подзаголовок
        <input type="text" value="{{q.subtitle}}" name="subtitle">
    </label>

    </p>

<p>
    <label> Содержимое
    <input type="text" value="{{q.content}}" name="content">
    </label>
</p>
<p>
    <img src="/static/img/uploads/{{q.img}}" width="33%" height="33%">
    <label> Изображение
    <input type="file" name="file">
    </label>
</p>

    <input type="submit" name="btn" value="Сохранить">


</form>


{% endblock %}